.cluster {
  display: flex;
  flex-wrap: wrap;
}

.justifyStart {
  justify-content: flex-start;
}
.justifyEnd {
  justify-content: flex-end;
}
.justifyCenter {
  justify-content: center;
}
.justifyBetween {
  justify-content: space-between;
}
.justifyAround {
  justify-content: space-around;
}

.alignStart {
  align-items: flex-start;
}
.alignEnd {
  align-items: flex-end;
}
.alignCenter {
  align-items: center;
}
.alignStretch {
  align-items: stretch;
}


.sm {
  gap: 10px
}
.md {
  gap: 20px
}
.lg {
  gap: 30px;
}


