.center {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
}

.sm {
  max-width: 300px;
}

.md {
  max-width: 450px;
}

.lg {
  max-width: 600px;
}

.gutterSm {
  padding-left: 10px;
  padding-right: 10px;
}

.gutterMd {
  padding-left: 20px;
  padding-right: 20px;
}

.gutterSm {
  padding-left: 30px;
  padding-right: 30px;
}

.centerText {
  text-align: center;
}

.centerChildren {
  display: flex;
  flex-direction: column;
  align-items: center;
}
