$ratio: 1.5;
$s0: 1rem;

$s-1: calc(($s0) / ($ratio));
$s-2: calc(($s-1) / ($ratio));
$s-3: calc(($s-2) / ($ratio));
$s-4: calc(($s-3) / ($ratio));
$s-5: calc($s-4 / ($ratio));


$s1: calc(($s0) * ($ratio));
$s2: calc(($s1) * ($ratio));
$s3: calc(($s2) * ($ratio));
$s4: calc(($s3) * ($ratio));
$s5: calc(($s4) * ($ratio));
