$themes: (
  default: (
    primary-color: $red-1,
    primary-light-color: #1e1e23,
    primary-item-color: #22ace6,
    primary-text-color: #efefef,
    secondary-text-color: #797980,
    tertiary-text-color: #bababa,
    quaternary-text-color: #efefef,
    fifth-text-color: #aaaaaa,
    secondary-color: #5c5c60,
    secondary-light-color: #929292,
    tertiary-color: #313139,
    secondary-item-color: #177299,
    error-color: #d65041,
    warning-color: #efc140,
    success-color: #41d6a3,
    hidden-color: #8053ff,
    scrollbar-color: #49494d,
    disabled-button-color: #bababa,
  ),
  redTheme: (
    primary-color: red,
    primary-liprimary-light-colorght-color: #1e1e23,
    primary-item-color: #22ace6,
    primary-text-color: #efefef,
    secondary-color: #5c5c60,
    secondary-light-color: #929292,
    secondary-item-color: #177299,
    error-color: #d65041,
    warning-color: #efc140,
    success-color: #41d6a3,
    hidden-color: #8053ff,
    scrollbar-color: #49494d,
    disabled-button-color: #bababa,
  ),
);
