@import './colors';
@import './breakpoints';
@import './themes';
@import './spaces';
@import './typography';

$border-thick: 3px solid red;
$border-normal: 1px solid red;
$border-thin: 0.5px solid red;
