.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &:only-child {
    height: 100%;
  }

}

.splitAfter1 {
  & > :nth-child(1) {
    margin-bottom: auto;
  }
}
.splitAfter2 {
  & > :nth-child(2) {
    margin-bottom: auto;
  }
}
.splitAfter3 {
  & > :nth-child(3) {
    margin-bottom: auto;
  }
}
.splitAfter4 {
  & > :nth-child(4) {
    margin-bottom: auto;
  }
}
.splitAfter5 {
  & > :nth-child(5) {
    margin-bottom: auto;
  }
}

.s1 {
  * + * {
    margin-top: $s-1;
  }
}
.s2 {
  * + * {
    margin-top: $s-2;
  }
}
.s3 {
  * + * {
    margin-top: $s-3;
  }
}
.s4 {
  * + * {
    margin-top: $s-4;
  }
}
.s5 {
  * + * {
    margin-top: $s-5;
  }
}
